.header{
    display: flex;
    align-items: center;
    background-color: orange;
    gap: 10px;
    padding: 0px 15px;
}
.heading{
    color: white;
    font-style: oblique;
}
.img{
    border-radius: 5px;
}